.wrapper {
   width: 414px;
   height: 600px;
   background-color: #457846;
}
h1 {
    margin: 0;
    padding: 0;
}
.title {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}
input {
    margin: 0 auto;
    display: block;
    width: 260px;
    height: 40px;
    margin-bottom: 25px;
    font-size: 18px;
    background: transparent;
    border: 2px solid darkkhaki;
    outline: none;
    color: #fff;
}
img{
    margin: 0;
    padding: 0;
}
.btn {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 25px;
    color: #fff;
    background-color: grey;
    border: 2px solid gray;
    cursor: pointer;
}
.btn2 {
    margin-top: 50px;
}